<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/Fonts/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@700&display=swap" rel="stylesheet">

    <!-- Link Global-->
    <link rel="stylesheet" href="/styles/global.css">

    <!-- Room -->
    <link rel="stylesheet" href="/styles/room.css">

    <!-- Modal -->
    <link rel="stylesheet" href="/styles/modal.css">
    <!-- Titulo da Pagina -->
    <title>Roquet.q</title>
</head>
<body>

<div class="content" id="room">

    <header id="header">
        <a href="/">
            <img src="/assets/Logo.svg" alt="Logo Roquet.q" srcset="">
        </a>
        
        <div class="buttons">
            <a href="#" class="btn-outline" id="room-id" data-id="<%= roomId %>">#<%= roomId %><i class="icon-copy"></i></a>
            <a href="#" class="btn"><i class="icon-users"></i>Criar sala</a>
        </div>
    </header>

    <main>
        <section id="question-form">
            <h2 class="title">Faça uma pergunta</h2>
            <form action="/question/create/<%= roomId %>" method="POST">
                <label class="sr-only">O que você quer perguntar?</label>
                <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
            
                <footer>
                    <div class="footer-text">
                        <i class="icon-lock"></i>
                        <p>Esta pergunta é anônima</p>
                    </div>
                    
                    <button>Enviar</button>
                </footer>
            </form>
        </section>

        <section id="questions">
            <label class="sr-only">Perguntas da comunidade</label>

            <!-- Qunado a pagina estã sem perrguntas -->
            <% if(isNotQuestion){ %>

                <%- include('parts/noquestion') %>

            <% } %>

            <% questions.forEach(question => { %>
                <div class="question-wrapper">
                    <div class="quests">
                        <div class="user">
                            <i class="icon-user"></i>
                        </div>
                            <p><%= question.title %></p>
                    </div>
    
                    <div class="actions">
                        <a href="#" class="check" data-id="<%= question.id %>"><i class="icon-check"></i>Marcar como lida</a>
                        <a href="#" class="trash" data-id="<%= question.id %>"><i class="icon-trash"></i>Excluir</a>
                    </div>
                </div>
            <%}); %>
            
            <% questionsRead.forEach(questionRead => { %>

                <div class="question-wrapper read">
                    <div class="quests">
                        <div class="user">
                            <i class="icon-user"></i>
                        </div>
                            <p><%= questionRead.title %></p>
                    </div>
    
                    <div class="actions">
                        <a href="#" class="trash" data-id="<%= questionRead.id %>"><i class="icon-trash"></i>Excluir</a>
                    </div>
                </div>
                
            <%});%>    

        </section>
    </main>
</div>

<!-- Modal -->
<div class="modal-wrapper">
    <div class="modal">
        <h2 class="title">Excluir pergunta</h2>
        <p>Tem certeza que você deseja excluir esta pergunta?</p>
        
        <form action="#" method="POST">
            <label for="" class="sr-only">Digite sua senha</label>
            <input type="password" name="password" placeholder="Digite sua senha">
        
            <div class="buttons">
                <a href="" class="btn cancel">Cancelar</a>
                <button href="" class="red">Sim, excluir</button>
            </div>
        </form>
    </div>
</div>

<!-- Main JS -->
<script src="/scripts/main.js" defer type="module"></script>

</body>
</html>